.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 316px;
    height: 100%;
    background-color: rgb(242, 242, 242);
    padding: 25px 0 25px 25px;
    display: flex;
}

.infor {
    display: flex;
}

.avatar {
    width: 80px;
    height: 80px;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.name {
    margin-left: 20px;
    /* align-self: flex-end; */
}

.authentication {
    flex: 1;
}
