.packageService:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.packageService {
    box-shadow: 0px 0px 20px rgba(98, 85, 165, 0.1);
}

.btnRegister {
    background-color: rgb(40, 89, 182);
}

.btnRegister:hover {
    background-color: rgb(255, 222, 89);
    cursor: pointer;
}

.scrollbarY {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    /* overflow-y: scroll; */
}

.scrollbarY::-webkit-scrollbar {
    display: none;
}
